language: node_js
node_js:
  - "stable"

cache:
  directories:
    - node_modules

# Use NPM to install because apparently the Yarn in Travis does not work.
install: npm install

# Lint errors should trigger a failure.
before_script: npm run lint && npm run build

# Code coverage
script: npm run coveralls
